[Unit]
Description=ngrok ingres proxy
After=network-online.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=raspberrypi
ExecStart=ngrok http --domain=some-static-domain.ngrok-free.app 8000

[Install]
WantedBy=multi-user.target
